<div class="module isolated">
    <div>
    <label for="myzone-select-timezone">$i18n.getText("myzone.user.timezone")</label>
    </div>
    <div>
    <select class="select" id="myzone-select-timezone" name="myzone-select-timezone">
        <option value="" #if ($selectedTZ == "") selected="true" #end>$i18n.getText("myzone.timezone.disabled")</option>
        #foreach ($timezone in $timezones)
        <option value="$timezone.idHtml" #if ($selectedTZ == $timezone.id) selected="true" #end>$timezone.getDisplayNameHtml()</option>
        #end
    </select>
    <script type="text/javascript">MyZone.registerChangeListener('myzone-select-timezone')</script>
    </div>
</div>
